---
- name: Install MariaDB
  apt:
    name:
      - mariadb-server
      - python3-pymysql
    state: present

- name: Ensure MariaDB is started and enabled
  service:
    name: mariadb
    state: started
    enabled: yes
