---
- name: Install dependencies for Sury PHP repository
  apt:
    name:
      - lsb-release
      - apt-transport-https
      - ca-certificates
      - curl
    state: present

- name: Add Sury PHP GPG key
  apt_key:
    url: https://packages.sury.org/php/apt.gpg
    state: present

- name: Add Sury PHP repository
  apt_repository:
    repo: "deb https://packages.sury.org/php/ {{ ansible_distribution_release }} main"
    state: present
    filename: sury-php

- name: Install PHP and modules
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - "php{{ php_version }}"
    - "php{{ php_version }}-cli"
    - "php{{ php_version }}-fpm"
    - "php{{ php_version }}-common"
    - "php{{ php_version }}-bcmath"
    - "php{{ php_version }}-gd"
    - "php{{ php_version }}-intl"
    - "php{{ php_version }}-mbstring"
    - "php{{ php_version }}-mysql"
    - "php{{ php_version }}-opcache"
    - "php{{ php_version }}-soap"
    - "php{{ php_version }}-xml"
    - "php{{ php_version }}-zip"
    - "php{{ php_version }}-curl"
    - "php{{ php_version }}-readline"
    - "php{{ php_version }}-bz2"
    # mcrypt was available in 7.1/7.3
    - "php{{ php_version }}-mcrypt"

- name: Ensure PHP-FPM is started and enabled
  service:
    name: "php{{ php_version }}-fpm"
    state: started
    enabled: yes
