---
- name: restart freeswitch
  service:
    name: freeswitch
    state: restarted

- name: restart php-fpm
  service:
    name: "php{{ php_version }}-fpm"
    state: restarted

- name: restart nginx
  service:
    name: nginx
    state: restarted

- name: restart redis
  service:
    name: redis-server
    state: restarted

- name: restart mariadb
  service:
    name: mariadb
    state: restarted

- name: restart supervisor
  service:
    name: supervisor
    state: restarted
